@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /*Palette*/
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #3392ff;
    --secondary-900: rgba(51, 146, 255, 0.9);
    --secondary-500: rgba(51, 146, 255, 0.5);
    --secondary-300: rgba(51, 146, 255, 0.3);

    --dark-solid: rgb(31, 31, 31);
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #fafaFF; 
    --light-font-solid: white;
    /*Tipography*/
    --base-font: "Inter", sans-serif;
    --alt-font: "Raleway", sans-serif;

    /*Font sizes*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /*Sapcings*/
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}
main {
    background-color: rgb(92, 193, 233);
}
a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header, footer {
    font-family: var(--alt-font);
    color: var(--light-font-solid);
}

ul, ol {
    list-style-type: none;
}

p {
    font-size: 1.8em;
}

img {
    width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
} 

/*Header*/

header {
    background-color: var(--dark-solid);
    padding: var(--spacing-8);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    max-width: 100px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__link {
    font-size: var(--font-small);
    padding: var(--spacing-8); 
    display: inline-block;
    transition: background .3s ease-in-out;
}

.navbar__link:hover {
    background-color: var(--primary-300);

}

/*HERO*/

.hero {
    /*background-image: url(../img/portada.jpg);
    padding: var(--spacing-24);
    background-position: top;
    background-size: cover;*/
    position: relative;
    z-index: 1;
}

.hero__content {
    display: flex;
    flex-direction: row-reverse;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    align-items: start;
}

.hero::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px) brightness(.9);
    z-index: 2;
}

/*Videos/Cuentos*/

.video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--spacing-36);
    padding: var(--spacing-24);
}

.video:nth-child(2) .video__iframe {
    order: -1;
}   

.video__content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24)    
}

.video__title {
    font-size: var(--font-jumbo);
    font-family: var(--alt-font);
    font-weight: 500;
}

.video__subtitle {
    font-size: var(--font-xlarge);
    font-family: var(--alt-font);
    font-weight: 300;
    border-bottom: 2px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.video__text {
    font-size: var(--font-medium);
    font-family: var(--alt-font);
    font-weight: 300;
}

/*FOOTER*/

footer {
    background-color: var(--dark-solid);
    padding: var(--spacing-8);
}

.footer__title {
    font-size: var(--font-large);
    font-weight: 500;
}